<header>
    <textarea rows="2" cols="80" id="logs">
        {{logsService.TEST_LOG_FILE}}
    </textarea>
</header>
<div class="container logs">
    <div class="row">
        <div class="col-9 logs">
            <div *ngFor="let timeSlot of logsService.timeSlots" class="time-slot">
                <div *ngFor="let log of timeSlot.logs" class="log-msg">
                    {{log.time.toISOString()}}|{{log.threadName}}|{{log.msg}}
                </div>
            </div>
        </div>
        <div class="col-3 timeline">
            <table>
                <tr *ngFor="let timeSlot of logsService.timeSlots" class="time-slot">
                    <div *ngFor="let log of timeSlot.logs" class="log-msg">
                        {{log.time.toISOString()}}|{{log.threadName}}|{{log.msg}}
                    </div>
                </tr>
            </table>
        </div>
    </div>
</div>