body {
    overflow: scroll;
}
.input {
    position: fixed;
    top: 0;
    height: 15%;
}
.timeline {
    position: fixed;
    margin-top: 15%;
    left: 0;
    overflow: scroll;
    font-size: 80%;
    font-family: monospace;
    width: 50%;
    height: 75%;
}
.logs {
    position: fixed;
    margin-top: 15%;
    right: 0;
    overflow: scroll;
    font-family: monospace;
    height: 75%;
    width: 50%;
}
table, td, th {
    border: 1px solid lightgrey;
}
.selected {
    background-color: aqua;
}